include LICENCE
include README.md
include requirements.txt
include pyproject.toml

recursive-include src/kbkit *.py *.mplstyle *.txt 

recursive-exclude dist *
recursive-exclude tests *
recursive-exclude tutorials *